* {
  margin: 0;
  padding: 0;
}

:root {
  --purple: #3A79FF;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Start of common classes */
.logo {
  background-color: var(--purple);
  border-radius: 100px;
  width: 26px;
  height: 26px;
  margin: 27px 73px 27px 117px;
}

.section-paragraph {
  font-size: 15px;
  line-height: 28px;
}

/* End of common styles */


/* Start of particular classes */

/* Start of header */
.page-header {
  height: 80px;
}

.page-header-inner {
  display: flex;
  max-width: 1206px;
  margin: 0 auto;
}

.page-header-column {
  display: flex;
  flex: 1;
}

.page-header-column-right {
  justify-content: end;
}

.navigation {
  display: flex;
  gap: 42px;
  align-items: center;
  text-transform: capitalize;
}

.socials {
  display: flex;
  gap: 35px;
  align-items: center;
}

.button-get-started {
  border: none;
  font-size: 13px;
  color: #3A79FF;
  background-color: #D2E1FF;
  padding: 13px 15px 13px 16px;
  margin-top: 19px;
  margin-left: 44px;
  height: 43px;
}

/* End of header */

/* Start of plan-your-life */
.plan-your-life {
  position: relative;
  padding-top: 92px;
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
  text-align: center;
}

.plan-your-life-line {
  position: absolute;
  top: 210px;
  left: -150px;
}

.plan-your-life-main-header {
  color: #3D4F9F;
  font-size: 10px;
  text-transform: uppercase;
}

.plan-your-life-sub-header {
  font-weight: normal;
  font-size: 48px;
  color: #3D4F9F;
}

.plan-your-life-paragraph {
  width: 502px;
  font-size: 18px;
  color: #8D96BD;
  margin: 28px auto 0 auto;
}

.plan-your-life-play-icon {
  position: relative;
  width: 52px;
  height: 52px;
  margin: 20px auto 0 auto;
  text-align: center;
  border-radius: 100%;
  background-color: white;
  line-height: 52px;
  cursor: pointer;
  z-index: 1;
}

/* End of plan-your-life */

/* End of particular classes */


.ellipsis {
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: 12px;
  padding-bottom: 28px;
  margin: 192px auto 0 auto;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #5283FF;
  cursor: pointer;
}

.circle__unactive {
  background-color: #D1D6E3;
}