* {
  margin: 0;
  padding: 0;
}

:root {
  --purple: #3A79FF;
  --border-color: #D8E0F7;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Start of common classes */
.logo {
  background-color: var(--purple);
  border-radius: 100px;
  width: 26px;
  height: 26px;
}

.block-paragraph {
  font-size: 15px;
  line-height: 28px;
}

.main-block-header {
  color: #3D4F9F;
  font-size: 10px;
  text-transform: uppercase;
}

.sub-block-header {
  font-weight: normal;
  font-size: 48px;
  color: #3D4F9F;
  line-height: 60px;
}

.block-paragraph {
  font-size: 18px;
  color: #8D96BD;
  letter-spacing: 0.03em;
  line-height: 29px;
}
/* End of common styles */


/* Start of particular classes */

/* Start of header */
.page-header {
  height: 80px;
}

.page-main {
  max-width: 1440px;
  margin: 0 auto;
}

.page-header-inner {
  display: flex;
  max-width: 1206px;
  margin: 0 auto;
  padding: 0 16px;
  height: inherit;
}

.page-header-column {
  display: flex;
  flex: 1;
  align-items: center;
}

.page-header-column-right {
  justify-content: end;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 42px;
  margin-left: 73px;
  text-transform: capitalize;
}

.socials {
  display: flex;
  gap: 35px;
  align-items: center;
}

.button-get-started {
  border: none;
  font-size: 13px;
  color: #3A79FF;
  background-color: #D2E1FF;
  margin-left: 44px;
  padding: 13px 15px 13px 16px;
  height: 43px;
}

/* End of header */

/* Start of plan-your-life */
.plan-your-life {
  position: relative;
  padding-top: 92px;
  text-align: center;
  background:
    url(images/cloud.svg) 208px 47px no-repeat,
    url(images/cloud.svg) -209px 35px / 420px no-repeat,
    url(images/circle.svg) 1340px 187px no-repeat,
    url(images/circle.svg) 910px 309px no-repeat,
    url(images/circle.svg) 482px 451px no-repeat,
    url(images/circle.svg) 67px 481px no-repeat,
    url(images/Vector.svg) center 200px no-repeat,
    url(images/cloud.svg) 1192px -2px / 100px no-repeat,
    url(images/cloud.svg) 1160px -30px / 250px no-repeat,
    url(images/cloud.svg) 1240px 45px / 130px no-repeat,
    url(images/cloud.svg) 1150px 425px / 220px no-repeat,
    url(images/cloud.svg) 1020px 374px / 330px no-repeat,
    url(images/cloud.svg) 1169px 424px / 130px no-repeat,
    url(images/cloud.svg) 200px 340px / 130px no-repeat,
    url(images/cloud.svg) 248px 359px / 90px no-repeat,
    url(images/cloud.svg) 210px 361px / 70px no-repeat,
    url(images/cloud.svg) 264px 350px / 60px no-repeat,
    url(images/cloud.svg) 1315px 350px / 250px no-repeat,
    url(images/plan-your-life-rectangle.png) 0 0 no-repeat,
    url(images/plan-your-life-bg.svg) center 200px no-repeat,
    linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);

}

.plan-your-life-paragraph {
  width: 502px;
  margin: 28px auto 0 auto;
}

.plan-your-life-play-icon {
  position: relative;
  width: 52px;
  height: 52px;
  margin: 20px auto 0 auto;
  text-align: center;
  border-radius: 100%;
  background-color: white;
  line-height: 52px;
  cursor: pointer;
  z-index: 1;
}

.plan-your-life-rectangle {
  position: relative;
  left: 456px;
  top: 33px;
  width: 92px;
  height: 63.26px;
}

.plan-your-life-rectangle-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 5%;
}

.plan-your-life-triangle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  transform: rotate(45deg);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  left: 42px;
  bottom: -7px;
}
/* End of plan-your-life */

/* Start of particular classes */
.ellipsis {
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: 12px;
  padding-bottom: 28px;
  margin: 192px auto 0 auto;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #5283FF;
  cursor: pointer;
}

.circle__unactive {
  background-color: #D1D6E3;
}

/* End of particular classes */

/* Start of brand-page */
.brand-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 145px;
}

.brand-list {
  display: flex;
  gap: 76px;
  justify-content: center;
}
/* End of brand-page */

/* Start of desktop-and-mobile-app */
.desktop-and-mobile-app {
  display: flex;
  align-items: center;
  height: 776px;
  background-color: #F5F8FF;
}

.desktop-and-mobile-app-column {
  flex: 1;
}

.desktop-and-mobile-app-column-content {
  display: flex;
  justify-content: flex-end;
}

.desktop-and-mobile-app-column-inner {
  width: 413px;
}

.desktop-and-mobile-app-column-paragraph {

}
/* End of desktop-and-mobile-app */